BUN_ENV=development
GROQ_API_KEY=gsk_your_api_key_here


R2_ACCESS_KEY_ID=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_BUCKET=jhic
R2_ENDPOINT=https://your-account-id.r2.cloudflarestorage.com


NEXT_PUBLIC_R2_URL=https://jhic.rndlab.my.id/uploads
